In [1]:
!rm Resources/hawaii.sqlite

In [2]:
pwd

'C:\\Users\\chris\\Desktop\\Python_Analysis\\PYSQLSurf'

In [3]:
import pandas as pd
# Import SQLAlchemy `automap` and other dependencies
from sqlalchemy import create_engine, inspect
from config import dbuser, dbpasswd, dburi, dbport, dbname
import pymysql
from sqlalchemy import Column, Integer, String, Float, Date, Numeric
pymysql.install_as_MySQLdb()
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [4]:
hi_measmnts_df = pd.read_csv('resources/clean_hi_measurements.csv')
hi_stations_df = pd.read_csv('resources/clean_hi_stations_df.csv')
hi_measmnts_df  = hi_measmnts_df .drop('record_id', 1)
hi_measmnts_df.index.rename('record_id', inplace=True)

In [5]:
hi_stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [6]:
# Create Surfer and Board classes
# ----------------------------------
class Measurements(Base):
    __tablename__ = 'hi_measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(Date)
    prcp = Column(Numeric(5,2))
    tobs = Column(Integer)

class Stations(Base):
    __tablename__ = 'stations'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Numeric(10,8))
    longitude = Column(Numeric(11,8))
    elevation = Column(Numeric(5,1))

In [7]:
# Create the connection engine
engine = create_engine("sqlite:///Resources/hawaii.sqlite")
conn = engine.connect()

In [8]:
hi_stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [9]:
Base.metadata.create_all(conn)

In [10]:
hi_stations_df.to_sql(Stations.__tablename__,conn, index=False,if_exists="append")

In [11]:
hi_measmnts_df.to_sql(Measurements.__tablename__,conn, chunksize = 125,index=False,if_exists="append")